.nav {
  display: none;
}

.link {
  position: absolute;
  pointer-events: auto;
  color: var(--faint);
  cursor: pointer;
  letter-spacing: 0.08em;
  transition: color 0.15s;
  background: none;
  border: none;
  font-family: var(--en);
  text-decoration: none;
  text-transform: uppercase;
  white-space: nowrap;
}

.link:hover,
.active {
  color: #1c975e;
}
