.body {
  padding: 0 var(--grid) 0;
  width: 100%;
  margin: 0;
}

.hero {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  margin-left: calc(var(--grid) * -1);
}


.main {
  padding-top: 0;
}

.section {
  padding-top: calc(var(--grid) * 4);
}
